<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="%root_path%style.css"/>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title>%title%</title>
	  <style>
    		$styles.html()$
  	   </style>
$for(css)$
  <link rel="stylesheet" href="$css$" />
$endfor$
<script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.11.1/tocbot.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.11.1/tocbot.css">
$for(header-includes)$
  $header-includes$
$endfor$
</head>
<body>
	<div class="content">
	%content%
	</div>
	<script>
tocbot.init({
  // Where to render the table of contents.
  tocSelector: '.js-toc',
  // Where to grab the headings to build the table of contents.
  contentSelector: '.js-toc-content',
  // Which headings to grab inside of the contentSelector element.
  headingSelector: 'h1, h2, h3',
  // For headings inside relative or absolute positioned containers within content.
  hasInnerContainers: true,
});
	</script>
</body>
</html>
  
